.button {
  display: inline-block;
  padding: 1.25em;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  background: rgba(#fff, 0.25);
  border-radius: 3px;
  box-shadow: 0px 4px 0px 0px rgba(139, 151, 152, 0.43), inset 0px 1px 0px 0px rgba(#fff, 0.25);
  &:hover, &:focus {
    background: rgba(#fff, 0.35);
  }
  &:active {
    position: relative;
    top: 3px;
    box-shadow: 0px 1px 0px 0px rgba(139, 151, 152, 0.43), inset 0px 1px 0px 0px rgba(#fff, 0.25);
  }
}